.subscribe-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  margin-right: 8px;
}

.join-button {
   background-color: white;
   color: rgb(41, 118, 211);
   border-color: rgb(41, 118, 211) ;
   height: 36px;
   width: 62px;
   border-width: 1px;
   border-style: solid;
   border-radius: 2px;
   cursor: pointer;
}

.tweet-button {
  background-color: rgb(2, 125, 255);
  color: white;
  cursor: pointer;
  margin-left: 8px;
  height: 36px;
  border-radius: 18px;
  border: none;
  width: 74px;
  font-weight: bold;
  font-size: 15px;
}
